* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color:#E8E8E8;
    font-family: Aileron;
}

header {
    display: flex;
    background: url("./assets/img/Vector 1.png") no-repeat;
    align-items: center;
    justify-content: center;
    height: 35vh;
    background-size: 100vw;
}

h2 {
    text-align: center
}

section {
    width: 100%;

}

.container {
    text-align: center;
    background-color: #C4C4C4;
    width: 400px;
    height: 285px;
    margin-left: 90px ;
    padding: 28px;
}

.text-form {
    text-align: left;
}

.button {
    width: 304px;
    height: 48px;
    font-family: inherit;
    font-weight: 700;
    background: #020000;
    border-radius: 100px;
    border: 0;
    font-size: 19px;
    line-height: 28px;
    color: #FDFDFD;
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s linear;
    padding: 10px;
    margin: center;
}

/* Countdown */
.countdownContainer {
    margin-left: 100px;
    margin-right: 1520px;
    text-align: center;
    border: solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

#demo {
    text-align: center;
    font-size: 30px;
    padding: px;;
    background-color: #ffdcdc;
    border-radius: 100px;
    border: solid red;
    font-size: 25px;
  }

  /* EnsinaCast -- */

#video {
    background: #ffff;
}

.video-content {
    display: flex;
    align-items: center;
}

.video-content iframe {
    width: 500px;
    margin-left: 400px;
}

/* @media screen and (max-width: 768px){
    body {
        background-color: blue;        
    }
    
} */
